In [34]:
import pandas as pd
arquivo = pd.read_csv('C:/Users/julia/Desktop/Projetos ML/Classificação de Vinhos/wine_dataset.csv')

In [35]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [36]:
arquivo['style'] = arquivo['style'].replace('red',0)

In [37]:
arquivo['style'] = arquivo['style'].replace('white',1)

In [38]:
arquivo.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

In [39]:
y = arquivo['style']
x = arquivo.drop('style', axis=1)

In [40]:
from sklearn.model_selection import train_test_split

x_treino, x_teste, y_treino, y_teste = train_test_split(x,y,test_size=0.3)

In [41]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino,y_treino)

resultado = modelo.score(x_teste, y_teste)
print("Acurácia:", resultado)

Acurácia: 0.9948717948717949

In [42]:
y_teste[400:403]

762     0
4988    1
3362    1
Name: style, dtype: int64

In [43]:
x_teste[400:403]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
762,8.8,0.70,0.0,1.7,0.069,8.0,19.0,0.99701,3.31,0.53,10.0,6
4988,6.6,0.24,0.3,11.3,0.026,11.0,77.0,0.99381,3.13,0.55,12.8,7
3362,7.3,0.21,0.3,10.9,0.037,18.0,112.0,0.99700,3.40,0.50,9.6,6

In [44]:
previsoes = modelo.predict(x_teste[400:403])

In [45]:
previsoes

array([0, 1, 1], dtype=int64)